<po-page-list p-title = "{{ operation }}">
  <form #projectForm="ngForm">
    <po-container>
        <div class="po-row">
          <span class="title po-sm-12 po-md-12 po-lg-12 po-xl-12">1 / 5 - Informações da Oferta</span>
        </div>
        <div class="po-row">
          <po-select
            (p-change)="onChangeContract()"
            class="form-control po-md-6 po-lg-6"
            name="po_modalidadeContratacao"
            [(ngModel)]="project.modalidade"
            [p-label]="lbl_modalidade"
            [p-options]="_CNST_MODALIDADE_CONTRATACAO"
            p-required="true">
          </po-select>
          <po-select
            class="form-control po-md-6 po-lg-6"
            name="po_erp"
            [p-label]="lbl_erp"
            (p-change)="onChangeERP($event)"
            [(ngModel)]="project.erp"
            [p-options]="_CNST_ERP"
            p-required="true">
          </po-select>
        </div>
        <div class="po-row">
          <po-input
            name="po_codigot"
            class="form-control po-md-6 po-lg-6" 
            [p-label]="lbl_codigot"
            [(ngModel)]="project.codigot"
            [p-required]="true">
          </po-input>
          <po-select
            class="form-control po-md-6 po-lg-6"
            name="po_modulo"
            [p-label]="lbl_modulo"
            [(ngModel)]="project.modulo"
            [p-options]="_CNST_MODULO"
            p-required="true"
            [p-disabled]="project.erp === null">
          </po-select>
        </div>
        <div class="po-row">
          <po-select
            class="form-control po-md-6 po-lg-6 m-left"
            name="po_origem"
            [p-label]="lbl_origem"
            [(ngModel)]="project.origem"
            [p-options]="_CNST_ORIGEM"
            p-required="true">
          </po-select>
        </div>
    </po-container>
    <po-container>
      <div class="po-row">
        <span class="title po-sm-12 po-md-12 po-lg-12 po-xl-12">2 / 5 - Informações da Plataforma GoodData</span>
      </div>
      <div class="po-row">
        <po-input
          class="form-control po-md-6 po-lg-6"
          name="po_user"
          p-icon="po-icon-user"
          [p-label]="lbl_gdc_username"
          [(ngModel)]="project.gdc_username"
          p-required="true">
        </po-input>
        <po-input
          class="form-control po-md-6 po-lg-6"
          name="po_dominio"
          p-icon="po-icon-user"
          [p-label]="lbl_environment"
          [(ngModel)]="project.environment"
          p-required="true">
        </po-input>
      </div>
      <div class="po-row">
        <po-password
          class="form-control po-md-6 po-lg-6"
          name="po_password"
          [p-label]="lbl_gdc_password"
          [(ngModel)]="project.gdc_password"
          p-required="true"
          (keydown.enter)="enterPassword($event)">
        </po-password>
        <po-button
          class="po-md-6 po-lg-6"
          p-label="Carregar Projetos"
          [p-disabled]="( project.gdc_username === undefined ) || ( project.gdc_password === undefined ) ||
                        ( project.gdc_username === '' ) || ( project.gdc_password === '' )"
          (p-click)="getProjects()">
        </po-button>
      </div>
      <div class="po-row">
        <po-select
          (p-change)="onChangeProject()"
          class="form-control po-md-6 po-lg-6"
          name="projectId"
          [(ngModel)]="project.gdc_projectId"
          [p-label]="lbl_gdc_projectId"
          [p-options]="listProjects"
          p-required="true"
          [p-disabled]="listProjects[0] === undefined">
        </po-select>
        <po-input name="uploadUrl" class="form-control po-md-6 po-lg-6" [p-label]="lbl_gdc_upload_url" p-required [(ngModel)]="project.gdc_upload_url" [p-disabled]="project.gdc_projectId === undefined"></po-input>
      </div>
      <div class="po-row">
        <po-select
          (p-change)="onChangeProcess()"
          class="form-control po-md-6 po-lg-6"
          name="process"
          [(ngModel)]="project.gdc_etl_process_url"
          [p-label]="lbl_gdc_etl_process_url"
          [p-options]="listProcess"
          p-required="true"
          [p-disabled]="project.gdc_projectId === null">
        </po-select> 
        <po-select
          class="form-control po-md-6 po-lg-6"
          name="graph"
          [(ngModel)]="project.gdc_etl_graph"
          [p-label]="lbl_gdc_etl_graph"
          [p-options]="listGraph"
          p-required="true"
          [p-disabled]="project.gdc_etl_process_url === undefined">
        </po-select> 
      </div>
      <div class="po-row">
        <po-input name="filename" class="form-control po-md-6 po-lg-6" [p-label]="lbl_gdc_upload_archive" p-required="true" [(ngModel)]="project.gdc_upload_archive" [p-disabled]="project.gdc_projectId === null"></po-input>
        <po-select
          class="form-control po-md-6 po-lg-6"
          name="extension"
          [(ngModel)]="project.gdc_archive_extension"
          [p-label]="lbl_gdc_archive_extension"
          [p-options]="_CNST_EXTENSION"
          p-required="true"
          [p-disabled]="project.gdc_projectId === null">
        </po-select> 
      </div>
      <div class="po-row">
        <span class="title po-sm-12 po-md-12 po-lg-12 po-xl-12">3 / 5 - Informações do Banco de Dados</span>
      </div>
      <div class="po-row vertical-align db-row">
        <div>
          <span>{{ lbl_databaseId }}</span>
        </div>
        <po-select
          class="form-control db-select"
          name="databaseId"
          [(ngModel)]="project.dataBaseId"
          (p-change)="onChangeDatabase($event)"
          [p-options]="listDataBase"
          p-required="false">
        </po-select> 
        <div class="form-control">
          <po-button
            (p-click)="dataBaseAdd()"
            p-icon="po-icon-plus"
            p-size="medium"
          />
        </div>
      </div>
      <ng-template [ngIf]="((project.dataBaseId != undefined) && (project.dataBaseId != no_option_selected.value))">
        <div class="po-row">
          <po-input class="po-md-6 po-lg-6" name="databaseUsername" [(ngModel)]="database.jdbc_username"  p-label="Usuário" [p-disabled]="true"></po-input>
          <po-input class="po-md-6 po-lg-6" name="databaseType" [(ngModel)]="database.jdbc_type" p-label="Tipo" [p-disabled]="true"></po-input>
        </div>
        <div class="po-row">
          <po-password class="po-md-6 po-lg-6" name="databasePassword" [(ngModel)]="database.jdbc_password" p-label="Senha" [p-disabled]="true"></po-password>
          <po-input class="po-md-6 po-lg-6" name="databaseDriverName" [(ngModel)]="database.jdbc_driver" p-label="Driver" [p-disabled]="true"></po-input>
        </div>
        <div class="po-row vertical-align">
          <po-button
            class="po-md-3 po-lg-3"
            (p-click)="dataBaseAdd()"
            p-label="Testar conexão"
          />
          <po-button
            class="po-md-3 po-lg-3"
            (p-click)="dataBaseAdd()"
            p-label="Editar"
          />
          <po-input class="po-md-6 po-lg-6" name="databaseDriverURL" p-label="URL do Driver" [(ngModel)]="database.jdbc_driver_path" [p-disabled]="true"></po-input>
        </div>
      </ng-template>
      <div class="po-row">
        <span class="title po-sm-12 po-md-12 po-lg-12 po-xl-12">4 / 5 - Informações do Java</span>
      </div>
      <div class="po-row vertical-align db-row">
        <div>
          <span>{{ lbl_javaConfigurationId }}</span>
        </div>
        <po-select
          class="form-control db-select"
          name="javaId"
          [(ngModel)]="project.javaConfigurationId"
          (p-change)="onChangeJava($event)"
          [p-options]="listJava"
          p-required="false">
        </po-select> 
        <div class="form-control">
          <po-button
            (p-click)="javaAdd()"
            p-icon="po-icon-plus"
            p-size="medium"
          />
        </div>
      </div>
      <ng-template [ngIf]="((project.javaConfigurationId != undefined) && (project.javaConfigurationId != no_option_selected.value))">
        <div class="po-row">
          <po-grid #javaParams
            (keydown.enter)="focusParams()"
            class="form-control po-md-12 po-lg-12"
            [p-data]="javaConfiguration.params"
            [p-columns]="po_grid_config">
          </po-grid>
        </div>
      </ng-template>
      <div class="po-row vertical-align">
        <span class="title po-sm-12 po-md-12 po-lg-12 po-xl-12">5 / 5 - Configurações finais</span>
      </div>
      <div class="po-row vertical-align conf-row">
        <div>
          <span>{{ lbl_gdc_query_folder }}</span>
        </div>
        <po-input class="conf-select" name="queryFolder" [(ngModel)]="project.gdc_query_folder"></po-input>
        <div class="form-control">
          <po-button
            (p-click)="folderAdd()"
            p-icon="po-icon-folder"
            p-size="medium"
          />
        </div>
      </div>
      <div class="po-row vertical-align">
        <div>
          <span>{{ lbl_gdc_script_folder }}</span>
        </div>
        <po-input class="conf-select" name="scriptFolder" [(ngModel)]="project.gdc_script_folder"></po-input>
        <div class="form-control">
          <po-button
            (p-click)="scriptAdd()"
            p-icon="po-icon-folder"
            p-size="medium"
          />
        </div>
        <div class="po-row footer">
          <po-button class="po-button" p-size="medium" p-label="Voltar" (p-click)="goToProjects()" />
          <po-button class="po-button" p-size="medium" p-label="Salvar" (p-click)="saveProject()" />
        </div>
      </div>
    </po-container>
  </form>
</po-page-list>