@media screen and (max-width: 1366px) {

    .buttom-folder{
        margin-top: 32px !important;
        margin-bottom: 29px !important;
    }

    .buttom-add{
        margin-top: 32px !important;
        margin-bottom: 29px !important;
    }

    .smartOptions{
        text-align: start !important;
    }
}    

.grid-title{
    margin-top: 3%;
}

.buttom-folder{
    margin-top: 31px;
}

.buttom-properties{
    margin-top: 37px;
}

.margin-zero{
    padding: 0px;
}

.margin-line-product{
    margin-top: 5px;
    margin-bottom: 0px !important;
}

.buttom-add{
    margin-top: 32px;
    font-size: 25px;
}

.smartOptions{
    text-align: center;
    margin-top: 25px;
}

.typeProduct{
    text-align: -webkit-right;
    text-align: -moz-right;
    text-align: -o-right; 
    text-align: -ms-right;
}