.btn-new{
    margin-left: 0%;
    width: 130px;
}

.btn-export{
    margin-right: 0%;
    width: 130px;
}

.export{
    text-align: right;
}

.list-project{
    margin-top: 20px;
}

.query-text{
    margin: 10px;
}

.list-project-empty{
    text-align: center;
    background-color: white;
    border-top: 2px solid #ceeaf2;
    margin-top: 24px;
    line-height: 50px;
    font-weight: bold;
}
